async-generator
attrs
autopep8
Babel
bcrypt
beautifulsoup4
blinker
build
certifi
cffi
charset-normalizer
click
colorama
configparser
cryptography
dnspython
email-validator
facebook-sdk
Flask
Flask-BabelEx
Flask-Dance
Flask-Mail
flask-sock
Flask-SQLAlchemy
Flask-WTF
fuzzywuzzy
greenlet
h11
idna
importlib-metadata
itsdangerous
Jinja2
json-excel-converter
MarkupSafe
mysql-connector
mysql-connector-python
mysqlclient
numpy
oauthlib
outcome
packaging
pandas
passlib
protobuf
pycodestyle
pycparser
PyMySQL
pyOpenSSL
pyproject_hooks
python-dotenv
python-Levenshtein-wheels
pytz
requests
requests-oauthlib
selenium
simple-websocket
six
sniffio
sortedcontainers
soupsieve
speaklater
SQLAlchemy
SQLAlchemy-Utils
toml
tomli
trio
trio-websocket
Turbo-Flask
typing-extensions
tzdata
urllib3
URLObject
waitress
Werkzeug
wsproto
WTForms
XlsxWriter
zipp
