{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Scratch Pad{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Congratulations</h2>
<p>Congratulations on finding this little piece of the internet.  It's a place for me to try out ideas and test things.  It is of no use to you at all</p>
<form method="POST">
    <label for="timegrab">Time entry</label>
    <input name="timegrab" id="timegrab" type="time"/>
    <input value="Grab that time" type="submit" />
</form>
{% endblock %}