{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Facebook{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="center">
    <p class="circle-image" style="background-image: url(https://graph.facebook.com/{{ user['id'] }}/picture?type=large); margin-left: auto; margin-right: auto;">
    </p>
<h3>Hello, {{ user['name'] }}.</h3>
<a href="/logout" id="logout">Log out</a>
</div>
<script>
    document.getElementById('loout').onclick = function() {
        FB.logout(function(response) { });
    };
</script>
{% endblock %}