{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Configuration{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST">
    <h2>API Keys</h2>
    <label for="googleapikey">Google API Key</label>
    <input name="googleapikey" id="googleapikey" type="text" placeholder="{{ values['googleapikey'] }}" />
    <label for="yelpapikey">Yelp API Key</label>
    <input name="yelpapikey" id="yelpapikey" type="text" placeholder="{{ values['yelpapikey'] }}" />
    <h2>Meal times</h2>
    <p>The below times are the times a restaurant must be open to count as being open for that meal.  e.g. If a place is open at 0800, chances are it serves breakfast.</p>
    <label for="breakfast">Breakfast Time</label>
    <input name="breakfast" id="breakfast" type="time" placeholder="{{ values['breakfast'] }}"/>
    <label for="breakfastclose">Breakfast Close</label>
    <input name="breakfastclose" id="breakfastclose" type="time" placeholder="{{ values['breakfastclose'] }}"/>
    <label for="lunch">Lunch Time</label>
    <input name="lunch" id="lunch" type="time" placeholder="{{ values['lunch'] }}"/>
    <label for="lunchclose">Lunch Close</label>
    <input name="lunchclose" id="lunchclose" type="time" placeholder="{{ values['lunchclose'] }}"/>
    <label for="dinner">Dinner Time</label>
    <input name="dinner" id="dinner" type="time" placeholder="{{ values['dinner'] }}"/>
    <label for="dinnerclose">Dinner Close</label>
    <input name="dinnerclose" id="dinnerclose" type="time" placeholder="{{ values['dinnerclose'] }}"/>
    <label for="supper">Supper Time</label>
    <input name="supper" id="supper" type="time" placeholder="{{ values['supper'] }}"/>
    <label for="supperclose">Supper Close</label>
    <input name="supperclose" id="supperclose" type="time" placeholder="{{ values['supperclose'] }}"/>
    <input value="Save" type="submit" />
</form>
<h2>User Management</h2>
<p> user management is <a href="usermgmt" >HERE</a>.</p>

<h2>Specialised Searches</h2>
<p>Specialised Searches (Coffee, liquor etc... )are now <a href="configure/searchtypes">HERE</a>.</p>

<h2>Database magic</h2>
<p>This bit is reserved for John to do some cool stuff.  Don't use them unless specifically instructed by someone sensible... or John.</p>
<ul>
    <li><a href="/configure/resetdb">Reset Database.</a>  Should just add new tables and such from models.</li>
    <li><a href="/configure/cleanopeninghours">Clean OpeningHours</a>  Removes all null entries from opening hours.</li>
    <li><a href="/configure/rejiggerjoblist">Upgrade Job list</a></li>
    <li><a href="/configure/removeblacklistentries">Remove Blacklist Entries</a></li>
</ul>
{% endblock %}