{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Configuration{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST">
  <h2>keywords</h2>
  <table>
    <tr>
      <th>Key word</th>
      <th>Cuisine/Concept</th>
      <th>Coffee/Specialty Beverage</th>
      <th>Licensed</th>
      <th>Ignore</th>
    </tr>
    {% for item in items %}
    <tr>
      <td>{{ item['keyword'] }}</td>
      <td><input type="checkbox" id="cuisine_{{ item['keyword'] }}" name="cuisine_{{ item['keyword'] }}" {% if item['cuisine'] %}checked="true"{% endif %}></td>
      <td><input type="checkbox" id="coffee_{{ item['keyword'] }}" name="coffee_{{ item['keyword'] }}" {% if item['coffee'] %}checked="true"{% endif %}></td>
      <td><input type="checkbox" id="license_{{ item['keyword'] }}" name="license_{{ item['keyword'] }}" {% if item['license'] %}checked="true"{% endif %}></td>
      <td><input type="checkbox" id="blacklist_{{ item['keyword'] }}" name="blacklist_{{ item['keyword'] }}" {% if item['blacklist'] %}checked="true"{% endif %}></td>
    </tr>
    {% endfor %}
  </table>
  <input value="Save" type="submit" />
</form>
{% endblock %}