{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Search Places{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="searchform">
<form method="POST" name="myform">
        
    <div id="shareddiv">
        <label for="address">Address</label>
        <input name="address" id="address" /><br />
        <label for="radius">Radius (in meters)</label>
        <input name="radius" id="radius" type="number" max="5000" min="50" value="1000" /><br />
        <h3>Optional settings</h3>
        <label for="keywords">Keyword search</label>
        <input name="keyword" id="keyword" value=''/><br />
        <label for="minprice">Minimum price level (0-4)</label>
        <input name="minprice" id="minprice" type="number" min="1" max="4" value="1"/>
        <label for="maxprice">Maximum price level (0-4)</label>
        <input name="maxprice" id="maxprice" type="number" min="1" max="4" value="4"/><br />
    </div>
    
    <div id="googlediv" style="display: block;">
        <h2>Google options</h2>
        <label for="types">Place Types</label><br />
        <table>
            <tr>
                <td><input type="checkbox" name="type" value="airport" checked />Airport</td>
                <td><input type="checkbox" name="type" value="amusement_park" checked />Amusement park</td>
                <td><input type="checkbox" name="type" value="bakery" checked />Bakery</td>
                <td><input type="checkbox" name="type" value="bar" checked />Bar</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="type" value="bowling_alley" checked />Bowling Alley</td>
                <td><input type="checkbox" name="type" value="cafe" checked />Cafe</td>
                <td><input type="checkbox" name="type" value="casino" checked />Casino</td>
                <td><input type="checkbox" name="type" value="convenience_store" checked />Convenience Store</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="type" value="liquor_store" checked />Liquor Store</td>
                <td><input type="checkbox" name="type" value="meal_delivery" checked />Meal Delivery</td>
                <td><input type="checkbox" name="type" value="meal_takeaway" checked />Meal Takeaway</td>
                <td><input type="checkbox" name="type" value="night_club" checked />Night Club</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="type" value="restaurant" checked />Restaurant</td>
                <td><input type="checkbox" name="type" value="shopping_mall" checked />Shopping Mall</td>
                <td><input type="checkbox" name="type" value="stadium" checked />Stadium</td>
                <td><input type="checkbox" name="type" value="supermarket" checked />Supermarket</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="type" value="university" checked />University</td>
            </tr>
        </table>
    </div>
    <br />
    <input value="Search" type="submit" onclick="displaysearching()" />
</form>
</div>
<div id="searching" style="display: none;"><h2>Searching...</h2></div>
</section>
<script>
    function displaysearching() {
        var showid = document.getElementById("searching");
        var hideid = document.getElementById("searchform");
        showid.style.display = "block";
        hideid.style.display = "none";
        return true;
    }

    function showplugin(pluginname) {
        var checkid = document.getElementById(pluginname + "plugin");
        var divid = document.getElementById(pluginname + "div");

        if (checkid.checked == true) {
            divid.style.display = "block";
        } else {
            divid.style.display = "none";
        }
    }
</script>
{% endblock %}