{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Keyword Results{% endblock %}</h1>
{% endblock %}

{% block content %}
<p class="body">{{ keywords }}</p>
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Postcode</th>
    </tr>
    {% for item in recordlist %}
        <tr>
            <td><a href="restaurants/{{ item['restaurants.id'] }}">{{ item['restaurants.name'] }}</a></td>
            <td>{{ item['restaurants.postcode'] }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}