{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Place{% endblock %}</h1>
{% endblock %}

{% block content %}
<ul>
    <li>Name: {{ record[ 'placename' ] }}</li>
    <li>Address: {{ record[ 'vicinity' ] }}</li>
    <li>Suburb: {{ record[ 'suburb' ] }} <a href="/tar/postcodes/{{ record['postcode'] }}">{{ record['postcode'] }}</a> {{ record['state'] }}</li>
    <li>Phone Number : {{ record[ 'phonenumber' ] }}</li>
</ul>

<h2>Opening Hours</h2>
<table>
    <tr>
        <th>Day</th>
        <th>Open</th>
        <th>Close</th>
    </tr>
    <tr>
        <td>Sunday</td>
        <td>{{ record['sundayopen'] }}</td>
        <td>{{ record['sundayclose'] }}</td>
    </tr>
    <tr>
        <td>Monday</td>
        <td>{{ record['mondayopen'] }}</td>
        <td>{{ record['mondayclose'] }}</td>
    </tr>
    <tr>
        <td>Tuesday</td>
        <td>{{ record['tuesdayopen'] }}</td>
        <td>{{ record['tuesdayclose'] }}</td>
    </tr>
    <tr>
        <td>Wednesday</td>
        <td>{{ record['wednesdayopen'] }}</td>
        <td>{{ record['wednesdayclose'] }}</td>
    </tr>
    <tr>
        <td>Thursday</td>
        <td>{{ record['thursdayopen'] }}</td>
        <td>{{ record['thursdayclose'] }}</td>
    </tr>
    <tr>
        <td>Friday</td>
        <td>{{ record['fridayopen'] }}</td>
        <td>{{ record['fridayclose'] }}</td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td>{{ record['saturdayopen'] }}</td>
        <td>{{ record['saturdayclose'] }}</td>
    </tr>
</table>

<h2>Ratings</h2>
<table>
    <tr>
        <th>Source</th>
        <th>Price Indicator</th>
        <th>Rating</th>
        <th>Total reviews</th>
    </tr>
    {% for item in record['ratings'] %}
    <tr>
        <td>{{ item['source'] }}</td>
        <td>{{ item['price'] }}</td>
        <td>{{ item['rating'] }}</td>
        <td>{{ item['reviews'] }}</td>
    </tr>
    {% endfor %}
</table>
<h2>URLs</h2>
<ul>
    {% for item in record['urls'] %}
    <li><a href="{{ item }}">{{ item }}</a></li> 
    {% endfor %} 
</ul>
<h2>Keywords</h2>
<p>{% for item in record['keywords'] %}{{ item }}, {% endfor %}</p>
{% endblock %}