{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}User Management{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST" name="myform">
<table>
    <tr>
    <th>User name</th>
    <th>Admin</th>
    <th>Delete</th>
    </tr>
    {% for user in userlist %}
    <tr>
        <td>{{ user['username'] }}</td>
        <td><input type="checkbox" name="{{ user['username'] }}.role" value="admin" {% if user['admin']  %}checked{% endif %} /></td>
        <td><input type="checkbox" name="{{ user['username'] }}.delete" value="delete" /></td>
    </tr>
    {% endfor %}
</table>
<input value="Save" type="submit"/>
</form>
{% endblock %}