{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Search Places{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST" name="myform">
    <h3>Search plugins</h3>
    <table>
        <tr>
            <td style="width: 10%;"><label for="googleplugin">Google</label></td>
            <td><input type="checkbox" name="googleplugin" id="googleplugin" onclick="showplugin('google')" checked/></td>
        </tr>
        <tr>
            <td><label for="googleplugin">Yelp</label></td>
            <td><input type="checkbox" name="yelpplugin" id="yelpplugin" onclick="showplugin('yelp')" /></td>
        </tr>
    </table>
    
    <div id="shareddiv">
        <label for="address">Address</label>
        <input name="address" id="address" /><br />
        <label for="radius">Radius (in meters)</label>
        <input name="radius" id="radius" type="number" max="5000" min="50" value="1000" /><br />
        <h3>Optiional settings</h3>
        <label for="keywords">Keyword search</label>
        <input name="keyword" id="keyword" value=''/><br />
        <label for="minprice">Minimum price level (0-4)</label>
        <input name="minprice" id="minprice" type="number" min="1" max="4" value="1"/>
        <label for="maxprice">Maximum price level (0-4)</label>
        <input name="maxprice" id="maxprice" type="number" min="1" max="4" value="4"/><br />
    </div>
    
    <div id="googlediv" style="display: block;">
        <h2>Google options</h2>
        <label for="types">Place Types</label><br />
        <table>
            <tr>
                <td><input type="checkbox" name="type" value="airport" />Airport</td>
                <td><input type="checkbox" name="type" value="amusement_park" />Amusement park</td>
                <td><input type="checkbox" name="type" value="bakery" />Bakery</td>
                <td><input type="checkbox" name="type" value="bar" />Bar</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="type" value="bowling_alley" />Bowling Alley</td>
                <td><input type="checkbox" name="type" value="cafe" />Cafe</td>
                <td><input type="checkbox" name="type" value="casino" />Casino</td>
                <td><input type="checkbox" name="type" value="convenience_store" />Convenience Store</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="type" value="liquor_store" />Liquor Store</td>
                <td><input type="checkbox" name="type" value="meal_delivery" />Meal Delivery</td>
                <td><input type="checkbox" name="type" value="meal_takeaway" />Meal Takeaway</td>
                <td><input type="checkbox" name="type" value="night_club" />Night Club</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="type" value="restaurant" />Restaurant</td>
                <td><input type="checkbox" name="type" value="shopping_mall" />Shopping Mall</td>
                <td><input type="checkbox" name="type" value="stadium" />Stadium</td>
                <td><input type="checkbox" name="type" value="supermarket" />Supermarket</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="type" value="university" />University</td>
            </tr>
        </table>
    </div>
    <div id="yelpdiv" style="display: none;">
        <h2>Yelp options</h2>
        <h3>Arts and Entertainment</h3>
        <table id="yelpane" style="display: block;">
            <tr>
                <td><input type="checkbox" name="categories" value="casinos" />Casinos</td>
                <td><input type="checkbox" name="categories" value="musicvenues" />Music Venues</td>
                <td><input type="checkbox" name="categories" value="wineries" />Wineries</td>
                <td><input type="checkbox" name="categories" value="winetastingroom" />Wine Tasting Room</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="hotels" />Hotels</td>
                <td><input type="checkbox" name="categories" value="venues" />Venues</td>
            </tr>
        </table>
        <h3>Food Types</h3>
        <input type="checkbox" name="categories" value="food" id="yelpfood" onclick="showyelpfood()" checked/>All Food Stores<br />
        <table id="yelpfoodtable" style="display: none;">
            <tr>
                <td><input type="checkbox" name="categories" value="acaibowls" />Acai Bowls</td>
                <td><input type="checkbox" name="categories" value="bakeries" />Bakeries</td>
                <td><input type="checkbox" name="categories" value="beer_and_wine" />Beer, Wine and Spirits</td>
                <td><input type="checkbox" name="categories" value="bento" />Bento</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="beverage_stores" />Beverage Stores</td>
                <td><input type="checkbox" name="categories" value="breweries" />Breweries</td>
                <td><input type="checkbox" name="categories" value="brewpubs" />Brewpubs</td>
                <td><input type="checkbox" name="categories" value="bubbletea" />Bubble Tea</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="butcher" />Butcher</td>
                <td><input type="checkbox" name="categories" value="churros" />Breweries</td>
                <td><input type="checkbox" name="categories" value="brewpubs" />Brewpubs</td>
                <td><input type="checkbox" name="categories" value="bubbletea" />Bubble Tea</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="cideries" />Cideries</td>
                <td><input type="checkbox" name="categories" value="coffee" />Coffee and Tea</td>
                <td><input type="checkbox" name="categories" value="coffeeteasupplies" />Coffee and Tea Supplies</td>
                <td><input type="checkbox" name="categories" value="coffeeroasteries" />Coffee Roasteries</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="convenience" />Convenience Stores</td>
                <td><input type="checkbox" name="categories" value="cupcakes" />Cupcakes</td>
                <td><input type="checkbox" name="categories" value="customcakes" />Custom Cakes</td>
                <td><input type="checkbox" name="categories" value="delicatessen" />Delicatessen</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="desserts" />Desserts</td>
                <td><input type="checkbox" name="categories" value="distilleries" />Distilleries</td>
                <td><input type="checkbox" name="categories" value="diyfood" />Do it yourself Food</td>
                <td><input type="checkbox" name="categories" value="donuts" />Donuts</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="ethicgrocery" />Ethical Grocery</td>
                <td><input type="checkbox" name="categories" value="farmersmarket" />Farmers Market</td>
                <td><input type="checkbox" name="categories" value="fishmonger" />Fishmonger</td>
                <td><input type="checkbox" name="categories" value="fooddeliveryservices" />Food Delivery Services</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="foodtrucks" />Food Trucks</td>
                <td><input type="checkbox" name="categories" value="friterie" />Friterie</td>
                <td><input type="checkbox" name="categories" value="gelato" />Gelato</td>
                <td><input type="checkbox" name="categories" value="grocery" />Grocery</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="icecream" />Ice Cream and Frozen Yogurt</td>
                <td><input type="checkbox" name="categories" value="importedfood" />Imported food</td>
                <td><input type="checkbox" name="categories" value="intlgrocery" />International Grocery</td>
                <td><input type="checkbox" name="categories" value="internetcafe" />Internet Cafe</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="juicebars" />Juice Bars and Smoothies</td>
                <td><input type="checkbox" name="categories" value="kiosk" />Kiosk</td>
                <td><input type="checkbox" name="categories" value="cakeshop" />Patisserie/Cake Shop</td>
                <td><input type="checkbox" name="categories" value="poke" />Poke</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="smokehouse" />Smoke House</td>
                <td><input type="checkbox" name="categories" value="gourmet" />Specialty Food</td>
                <td><input type="checkbox" name="categories" value="candy" />Candy Shop</td>
                <td><input type="checkbox" name="categories" value="cheese" />Cheese Shop (sketch)</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="chocolate" />Chocolatiers</td>
                <td><input type="checkbox" name="categories" value="markets" />Fruit and Veggies</td>
                <td><input type="checkbox" name="categories" value="healthmarkets" />Health Markets</td>
                <td><input type="checkbox" name="categories" value="herbsandspices" />Herbs and Spices</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="macarons" />Macarons</td>
                <td><input type="checkbox" name="categories" value="meats" />Meat Shop</td>
                <td><input type="checkbox" name="categories" value="pastashops" />Pasta Shop</td>
                <td><input type="checkbox" name="categories" value="seafoodmarkets" />Seafood Markets</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="streetvendors" />Street Vendors</td>
                <td><input type="checkbox" name="categories" value="tea" />Tea rooms</td>
            </tr>
        </table>
        <h3>Nightlife</h3>
        <input type="checkbox" name="categories" value="nightlife" id="yelpnightlife" onclick="showyelpnightlife()" checked/>Night Life All<br />
        <table id="yelpnightlifetable" style="display: none;">
            <tr>
                <td><input type="checkbox" name="categories" value="bars" />Bars</td>
                <td><input type="checkbox" name="categories" value="beachbars" />Beach Bars</td>
                <td><input type="checkbox" name="categories" value="beerbar" />Beer Bars</td>
                <td><input type="checkbox" name="categories" value="cocktailbars" />Cocktail Bars</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="gaybars" />Gay Bars</td>
                <td><input type="checkbox" name="categories" value="irish_pubs" />Irish Pubs</td>
                <td><input type="checkbox" name="categories" value="lounges" />Lounges</td>
                <td><input type="checkbox" name="categories" value="pubs" />Pubs</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="speakeasies" />Speakeasies</td>
                <td><input type="checkbox" name="categories" value="sportsbars" />Sports Bars</td>
                <td><input type="checkbox" name="categories" value="tikibars" />Tiki Bars</td>
                <td><input type="checkbox" name="categories" value="vermouthbars" />Vermouth Bars</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="whiskeybars" />Whiskey Bars</td>
                <td><input type="checkbox" name="categories" value="wine_bars" />Wine Bars</td>
                <td><input type="checkbox" name="categories" value="beergardens" />Beer Gardens</td>
                <td><input type="checkbox" name="categories" value="comedyclubs" />Comedy Clubs</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="danceclubs" />Dance Clubs</td>
                <td><input type="checkbox" name="categories" value="jazzandblues" />Jazz and Blues</td>
                <td><input type="checkbox" name="categories" value="karaoke" />Karaoke</td>
                <td><input type="checkbox" name="categories" value="poolhalls" />Pool Halls</td>
            </tr>
        </table>

        <h3>Restaurants</h3>
        <input type="checkbox" name="categories" value="restaurants" id="yelprestaurant" onclick="showyelprestaurant()" checked/>Restaurants All<br />
        <table id="yelprestauranttable" style="display: none;">
            <tr>
                <td><input type="checkbox" name="categories" value="afghani" />Afghan</td>
                <td><input type="checkbox" name="categories" value="african" />African</td>
                <td><input type="checkbox" name="categories" value="southafrican" />South African</td>
                <td><input type="checkbox" name="categories" value="tradamerican" />Traditional American</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="arabian" />Arabian</td>
                <td><input type="checkbox" name="categories" value="argentine" />Argentine</td>
                <td><input type="checkbox" name="categories" value="asianfusion" />Asian Fusion</td>
                <td><input type="checkbox" name="categories" value="australian" />Australian</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="austrian" />Austrian</td>
                <td><input type="checkbox" name="categories" value="bangladeshi" />Bangladeshi</td>
                <td><input type="checkbox" name="categories" value="belgian" />Belgian</td>
                <td><input type="checkbox" name="categories" value="bistros" />Bistros</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="brasseries" />Brasseries</td>
                <td><input type="checkbox" name="categories" value="brazilian" />Brazilian</td>
                <td><input type="checkbox" name="categories" value="breakfast_brunch" />Breakfast & Brunch</td>
                <td><input type="checkbox" name="categories" value="pancakes" />Pancakes</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="british" />British</td>
                <td><input type="checkbox" name="categories" value="buffets" />Buffets</td>
                <td><input type="checkbox" name="categories" value="bulgarian" />Bulgarian</td>
                <td><input type="checkbox" name="categories" value="burgers" />Burgers</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="burmese" />Burmese</td>
                <td><input type="checkbox" name="categories" value="cafes" />Cafes</td>
                <td><input type="checkbox" name="categories" value="cafeteria" />Cafeteria</td>
                <td><input type="checkbox" name="categories" value="cambodian" />Cambodian</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="caribbean" />Caribbean</td>
                <td><input type="checkbox" name="categories" value="cheesesteaks" />Cheesesteaks</td>
                <td><input type="checkbox" name="categories" value="chickenshop" />Chicken Shop</td>
                <td><input type="checkbox" name="categories" value="chicken_wings" />Chicken Wings</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="chinese" />Chinese</td>
                <td><input type="checkbox" name="categories" value="cantonese" />Cantonese</td>
                <td><input type="checkbox" name="categories" value="dimsum" />Dim Sum</td>
                <td><input type="checkbox" name="categories" value="shanghainese" />Shanghainese</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="szechuan" />Szechuan</td>
                <td><input type="checkbox" name="categories" value="creperies" />Creperies</td>
                <td><input type="checkbox" name="categories" value="cuban" />Cuban</td>
                <td><input type="checkbox" name="categories" value="czech" />Czech</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="delis" />Delis</td>
                <td><input type="checkbox" name="categories" value="dinnertheater" />Dinner Theater</td>
                <td><input type="checkbox" name="categories" value="dumplings" />Dumplings</td>
                <td><input type="checkbox" name="categories" value="eastern_european" />Eastern European</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="ethiopian" />Ethiopian</td>
                <td><input type="checkbox" name="categories" value="hotdogs" />Fast Food</td>
                <td><input type="checkbox" name="categories" value="filipino" />Filipino</td>
                <td><input type="checkbox" name="categories" value="fishnchips" />Fish & Chips</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="fondue" />Fondue</td>
                <td><input type="checkbox" name="categories" value="food_court" />Food Court</td>
                <td><input type="checkbox" name="categories" value="foodstands" />Food Stands</td>
                <td><input type="checkbox" name="categories" value="french" />French</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="gamemeat" />Game Meat</td>
                <td><input type="checkbox" name="categories" value="gastropubs" />Gastropubs</td>
                <td><input type="checkbox" name="categories" value="german" />German</td>
                <td><input type="checkbox" name="categories" value="gluten_free" />Gluten-Free</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="greek" />Greek</td>
                <td><input type="checkbox" name="categories" value="guamanian" />Guamanian</td>
                <td><input type="checkbox" name="categories" value="halal" />Halal</td>
                <td><input type="checkbox" name="categories" value="himalayan" />Himalayan/Nepalese</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="honduran" />Honduran</td>
                <td><input type="checkbox" name="categories" value="hotdog" />Hot Dogs</td>
                <td><input type="checkbox" name="categories" value="hungarian" />Hungarian</td>
                <td><input type="checkbox" name="categories" value="indpak" />Indian</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="indonesian" />Indonesian</td>
                <td><input type="checkbox" name="categories" value="international" />International</td>
                <td><input type="checkbox" name="categories" value="irish" />Irish</td>
                <td><input type="checkbox" name="categories" value="italian" />Italian</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="japanese" />Japanese</td>
                <td><input type="checkbox" name="categories" value="ramen" />Ramen</td>
                <td><input type="checkbox" name="categories" value="teppanyaki" />Teppanyaki</td>
                <td><input type="checkbox" name="categories" value="kebab" />Kebab</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="korean" />Korean</td>
                <td><input type="checkbox" name="categories" value="kosher" />Kosher</td>
                <td><input type="checkbox" name="categories" value="laos" />Laos</td>
                <td><input type="checkbox" name="categories" value="laotian" />Laotian</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="latin" />Latin American</td>
                <td><input type="checkbox" name="categories" value="raw_food" />Live/Raw Food</td>
                <td><input type="checkbox" name="categories" value="malaysian" />Malaysian</td>
                <td><input type="checkbox" name="categories" value="mamak" />Mamak</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="nyonya" />Nyonya</td>
                <td><input type="checkbox" name="categories" value="mediterranean" />Mediterranean</td>
                <td><input type="checkbox" name="categories" value="falafel" />Falafel</td>
                <td><input type="checkbox" name="categories" value="mexican" />Mexican</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="mideastern" />Middle Eastern</td>
                <td><input type="checkbox" name="categories" value="lebanese" />Lebanese</td>
                <td><input type="checkbox" name="categories" value="milkbars" />Milk Bars</td>
                <td><input type="checkbox" name="categories" value="modern_australian" />Modern Australian</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="modern_european" />Modern European</td>
                <td><input type="checkbox" name="categories" value="mongolian" />Mongolian</td>
                <td><input type="checkbox" name="categories" value="moroccan" />Moroccan</td>
                <td><input type="checkbox" name="categories" value="nicaraguan" />Nicaraguan</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="noodles" />Noodles</td>
                <td><input type="checkbox" name="categories" value="pakistani" />Pakistani</td>
                <td><input type="checkbox" name="categories" value="panasian" />Pan Asian</td>
                <td><input type="checkbox" name="categories" value="parma" />Parma</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="persian" />Persian/Iranian</td>
                <td><input type="checkbox" name="categories" value="peruvian" />Peruvian</td>
                <td><input type="checkbox" name="categories" value="pizza" />Pizza</td>
                <td><input type="checkbox" name="categories" value="polish" />Polish</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="popuprestaurants" />Pop-Up Restaurants</td>
                <td><input type="checkbox" name="categories" value="portuguese" />Portuguese</td>
                <td><input type="checkbox" name="categories" value="potatoes" />Potatoes</td>
                <td><input type="checkbox" name="categories" value="pubfood" />Pub Food</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="rotisserie_chicken" />Rotisserie Chicken</td>
                <td><input type="checkbox" name="categories" value="russian" />Russian</td>
                <td><input type="checkbox" name="categories" value="salad" />Salad</td>
                <td><input type="checkbox" name="categories" value="sandwiches" />Sandwiches</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="scandinavian" />Scandinavian</td>
                <td><input type="checkbox" name="categories" value="seafood" />Seafood</td>
                <td><input type="checkbox" name="categories" value="singaporean" />Singaporean</td>
                <td><input type="checkbox" name="categories" value="slovakian" />Slovakian</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="soup" />Soup</td>
                <td><input type="checkbox" name="categories" value="spanish" />Spanish</td>
                <td><input type="checkbox" name="categories" value="srilankan" />Sri Lankan</td>
                <td><input type="checkbox" name="categories" value="steak" />Steakhouses</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="sushi" />Sushi Bars</td>
                <td><input type="checkbox" name="categories" value="syrian" />Syrian</td>
                <td><input type="checkbox" name="categories" value="taiwanese" />Taiwanese</td>
                <td><input type="checkbox" name="categories" value="tapasmallplates" />Tapas/Small Plates</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="thai" />Thai</td>
                <td><input type="checkbox" name="categories" value="turkish" />Turkish</td>
                <td><input type="checkbox" name="categories" value="ukrainian" />Ukrainian</td>
                <td><input type="checkbox" name="categories" value="uzbek" />Uzbek</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="vegan" />Vegan</td>
                <td><input type="checkbox" name="categories" value="vegetarian" />Vegetarian</td>
                <td><input type="checkbox" name="categories" value="venison" />Venison</td>
                <td><input type="checkbox" name="categories" value="vietnamese" />Vietnamese</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="categories" value="waffles" />Waffles</td>
                <td><input type="checkbox" name="categories" value="yugoslav" />Yugoslav</td>
            </tr>
          </table>
        <h3>Optional settings</h3>
        <table>
            <tr>
                <td><input type="checkbox" name="attributes" value="hot_and_new" />Hot and new</td>
                <td><input type="checkbox" name="attributes" value="request_a_quote" />Request a quote</td>
                <td><input type="checkbox" name="attributes" value="reservation" />Reservation (Via Yelp)</td>
                <td><input type="checkbox" name="attributes" value="waitlist_reservation" />Waitlist Reservation (Via Yelp)</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="attributes" value="deals" />Deals (via yelp)</td>
                <td><input type="checkbox" name="attributes" value="gender_neutral_restrooms" />Gender Neutral Restrooms</td>
                <td><input type="checkbox" name="attributes" value="open_to_all" />Open To All</td>
                <td><input type="checkbox" name="attributes" value="wheelchair_accessible" />Wheelchair Accessible</td>
            </tr>
        </table>
    </div>
    <br />
    <input value="Search" type="submit" />
</form>
</section>
<script>

    function showplugin(pluginname) {
        var checkid = document.getElementById(pluginname + "plugin");
        var divid = document.getElementById(pluginname + "div");

        if (checkid.checked == true) {
            divid.style.display = "block";
        } else {
            divid.style.display = "none";
        }
    }

    function showyelpfood() {
        var yelpfood = document.getElementById("yelpfood");
        var yelpfoodtable = document.getElementById("yelpfoodtable");

        if (yelpfood.checked != true) {
            yelpfoodtable.style.display = "block";
        } else {
            yelpfoodtable.style.display = "none";
        }
    }

    function showyelpnightlife(){
        var yelpnightlife = document.getElementById("yelpnightlife");
        var yelpnightlifetable = document.getElementById("yelpnightlifetable");

        if (yelpnightlife.checked != true) {
            yelpnightlifetable.style.display = "block";
        } else {
            yelpnightlifetable.style.display = "none";
        }
    }

    function showyelprestaurant(){
        var yelprestaurant = document.getElementById("yelprestaurant");
        var yelprestauranttable = document.getElementById("yelprestauranttable");

        if (yelprestaurant.checked != true) {
            yelprestauranttable.style.display = "block";
        } else {
            yelprestauranttable.style.display = "none";
        }
    }

</script>
{% endblock %}