<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en"></html>
<head>
    <title>{% block title %}{% endblock %} - TARP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    <meta property="fb:app_id" content="{{ app_id }}" />
</head>
<nav>
    <h1>Trade Area Review Program</h1>
    <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span></li>
        <li><a href="{{ url_for('auth/logout') }}">Log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
<script type="text/javascript">
    window.fbAsyncInit = function() {
        FB.init({
            appId : '{{ app_id }}',
            status : true,
            cookie : true,
            version : 'v2.11',
            xfbml : true,
        });

        FB.event.subscribe('auth.login', function(response) {
            window.location = window.location;
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementsById(id)) {return;}
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>