{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Previous Searches{% endblock %}</h1>
{% endblock %}

{% block content %}
<p> The following is a list of previous searches so you can review (and eventually refresh) results you entered earlier.</p>

<table>
    <tr>
        <th></th>
        <th>Address</th>
        <th>Radius</th>
        <th>Search Options</th>
    </tr>
    {% for item in records %}
    <tr>
        <td><a href="/joblist/jobrefresh/{{ item['id'] }}">Refresh</a></td>
        <td><a href="/joblist/jobdisplay/{{ item['id'] }}">{{ item['address'] }}</a></td>
        <td>{{ item['radius'] }} meters</td>
        <td>{% for type in item['types'] %}{{ type }}, {% endfor %}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}